unity/desktop.ini
LD32/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
LD32/UnityVS.Project.CSharp.csproj
LD32/UnityVS.Project.v12.suo
LD32/obj/Debug/Assembly-CSharp.dll
LD32/obj/Debug/Assembly-CSharp.pdb
LD32/obj/
LD32/Library/
LD32/Temp/
Buildy/pew_Data/output_log.txt